/* Basic styles
--------------------------------------------------*/
* { 
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 4px;
    font-family: 'Pacifico';
    color: #999999;    
    font-size: 24px;
}
        
h2 {
    font-family: 'Jua';
    color: #4a4a4a;
    font-size: 16px;
}

p {
    font-family: 'Open Sans';
    color: #333333;
    font-size: 12px;
    line-height: 1.5em;
}
    
body {  
    //background-color: #9bbe24;
    background-color: #E4572E;

    .header-pattern { 
        background-color: white;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
    }
}

/* Common styles
--------------------------------------------------*/
.btnNav{
    padding: 8px;
    margin: 5px;
    color: #999999;
    border-radius: 4px;
    border: 2px solid #999999;

    a{
        text-decoration: none;
        color: #999999;
        font-family: 'Jua';
        font-size: 16px;
        text-align: center;
    }
}

footer{
    text-align: center;
    position: fixed;
    height: 20px;
    background-color: #B8441B;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

/* Landing Page
--------------------------------------------------*/
.btnIndex{
    padding: 20px;
    background-color: #FFC914;
    color: #B8441B;
    width: 300px;
    border-radius: 4px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);

        a {
            text-decoration: none;
            color: #B8441B;
            font-family: 'Pacifico';
            font-size: 23px;
            text-align: center;
            width: 100%;
        }
}

.intro{
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo{
        margin-top: 50px;
    }

    .categories{

        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            img{
                height: 60px;
            }
        }
    }
    
}



/* Game Page
--------------------------------------------------*/



